/* === LOGIN PAGE === */
.login-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* === RESPONSIVE === */
@media screen and (max-width: 767px) {
  .login-page {
    height: 100dvh; /* Dynamic viewport height for mobile */
  }
} 